/* Write your CSS code here */
/* Write your CSS code here */

.image {
  width: 100%;
  max-width: 200px;
}

.about-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
  color: #551e53;
  text-align: center;
}
